.App {
  /* text-align: center; */
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc 48%, #ebf6ff)
}

.login-form, .auth-form-container, .register-form {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

label {
  padding: 0.45rem;
  text-align: left; 
  display: inline-block;
  width: 8.75rem;
}

