.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #6200ff, #ee51d4 48%, #ff9500);
  color: white;
}

h2 { 
  margin-top: 0rem;
}

/* FORM */

.login-form, .auth-form-container, .register-form, .todo-form-container {
  display: flex; 
  flex-direction: column;
}

.auth-form-container, .todo-form-container {
  padding: 2rem 3rem;
  border: 0.1rem solid white;
  border-radius: 0.25rem;
}

label {
  padding: 0.25rem;
  text-align: left; 
  display: inline-block;
  width: 10.75rem;
  color: rgb(255, 191, 0);
  font-weight: bold;
}

input { 
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

button, .todo-button {
  border: none;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #6200ff;
}

.login-btn {
  width: 100%;
  margin-bottom: 0.5rem;
}

.todo-button, .todo-cancel-button {
  padding: 0.5rem;
}

.todo-button {
  margin-right: 0.25rem;
}

.todo-cancel-button {
  margin-left: 2.5rem;
}

.register-btn{
  background: none;
  color: rgb(251, 223, 239);
  text-decoration: underline;
  
}

